<div id="confirmModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar elemento</h4>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres eliminar este elemento? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">{{ 'Cancelar'|trans }}</button>
                <a id="modalSubmit" type="button" class="btn btn-link waves-effect">{{ 'Aceptar'|trans }}</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.delete-link').click(function(e) {
            e.preventDefault();
            $('#modalSubmit').attr('href', $(this).data('target'));
            $('#confirmModal').modal();
        });
    });
</script>