{% extends "TrendixAdminBundle::layout.html.twig" %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% block content %}
    <div class="container">
        <div class="content__title">
            <h1>
                Nuevo Bloque
            </h1>
        </div>
        <div class="card">
            <div class="card-body card-padding">
                <h2 class="card-title">Datos del Bloque</h2>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <a class="btn btn-info waves-effect btn-icon-text" href="javascript:history.back()"><i class="zmdi zmdi-arrow-back"></i>Cancelar</a>
    </div>
{% endblock content %}

{% block actionButtons %}
    {{ buttons.actionButton('javascript:$("form").submit();', 'floppy', 'green')  }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'TrendixCmsBundle:forms:dynamic.html.twig' %}
{% endblock %}
