{% extends "TrendixAdminBundle::layout.html.twig" %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% block content %}
    <div class="container">
        <header class="content__title">
            <h2>Nueva Página</h2>
        </header>
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body card-padding">
                <h4 class="card-title">Datos de la página</h4>

                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <a class="btn btn-info waves-effect btn-icon-text" href="javascript:history.back()"><i class="zmdi zmdi-arrow-back"></i>Cancelar</a>
    </div>
{% endblock content %}

{% block actionButtons %}
    {{ buttons.actionButton('javascript:$("form").submit();', 'floppy', 'green', 'Guardar')  }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'TrendixCmsBundle:forms:dynamic.html.twig' %}
{% endblock %}
