{% extends "TrendixAdminBundle::layout.html.twig" %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Nuevo bloque de color</h2>
            </div>
            <div class="card-body card-padding">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <a class="btn btn-info waves-effect btn-icon-text" href="javascript:history.back()">
            <i class="zmdi zmdi-arrow-back"></i>Cancelar</a>
    </div>
{% endblock content %}

{% block actionButtons %}
    {{ buttons.actionButton('javascript:$("form").submit();', 'floppy', 'green')  }}
{% endblock %}