{% extends "TrendixAdminBundle::layout.html.twig" %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% block content %}
    <div class="container">
        <div class="content__title">
            <h1>
                Nuevo Bloque
            </h1>
        </div>
        <div class="card">
            <div class="card-body card-padding">
                <h2 class="card-title">Datos del Bloque</h2>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.position) }}
                    </div>
                    <div class="col-xs-12">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="col-xs-12 condition hidden" data-condition="text t_gallery cta">
                        {{ form_row(form.text) }}
                    </div>
                    <div class="col-xs-12 condition hidden" data-condition="t_gallery">
                        {{ form_row(form.gallery) }}
                    </div>
                    <div class="col-xs-12 condition hidden" data-condition="t_image cta">
                        {{ form_row(form.image) }}
                    </div>
                    <div class="col-xs-12 condition hidden" data-condition="t_image">
                        {{ form_row(form.galleryLeft) }}
                    </div>
                    <div class="col-xs-12 condition hidden" data-condition="colors icons">
                        {{ form_row(form.blocksPerRow) }}
                    </div>
                    <div class="col-xs-12 condition hidden" data-condition="cta">
                        {{ form_row(form.ctaType) }}
                        {{ form_row(form.color) }}
                        {{ form_row(form.backgroundColor) }}
                        {{ form_row(form.link) }}
                        {{ form_row(form.linkText) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <a class="btn btn-info waves-effect btn-icon-text" href="javascript:history.back()"><i class="zmdi zmdi-arrow-back"></i>Cancelar</a>
    </div>
{% endblock content %}

{% block actionButtons %}
    {{ buttons.actionButton('javascript:$("form").submit();', 'floppy', 'green')  }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'TrendixCmsBundle:forms:dynamic.html.twig' %}
{% endblock %}
