{% extends "TrendixAdminBundle::layout.html.twig" %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% block content %}
    <div class="container">
        <header class="content__title">
            <h2>Página "{{ page.title }}"</h2>
        </header>
        <div class="card">
            <div class="card-body card-padding">

                    <div class="pull-left"><h4 class="card-title">Información de la página</h4></div>
                    <div class="pull-right">
                        <a href="{{ path('cms_edit_page', { 'id': page.id }) }}">Editar</a>
                    </div>
                <ul>
                    <li>ID: {{ page.id }}</li>
                    <li>Título: {{ page.title }}</li>
                    <li>Creada el: {{ page.createdAt | date('d/m/Y') }}</li>
                    <li>Actualizada el: {{ page.updatedAt | date('d/m/Y') }}</li>
                </ul>
            </div>
        </div>
        <header class="content__title">
            <h2>Contenido de la página</h2>
        </header>
        {% include 'TrendixCmsBundle::show_blocks.html.twig' with {bloques: page.blocks, parentType: 'page', parent: page.id} %}
    </div>
{% endblock %}

{% block actionButtons %}
    {{ buttons.actionButton(path('add_block_page', {id: page.id,
        redirect: 'cms_show_page', idRedirect: page.id}), 'plus', 'green', 'Añadir Bloque')  }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
