{% for bloque in bloques %}
    <div class="card">
        <div class="card-header">
            <div class="pull-left"><h2>Bloque nº {{ loop.index }}: {{ bloque }}</h2></div>
            <div class="pull-right">
                <a href="#" class="delete-link"
                        {% if parentType != 'block' %}
                            data-target="{{ path('remove_block', {id: bloque.id, redirect: 'cms_show_page',
                                idRedirect: page.id, idParent: page.id}) }}"
                        {% else %}
                            data-target="{{ path('remove_tab', {id: bloque.id, redirect: 'cms_show_page',
                                idRedirect: page.id, idParent: parent}) }}"
                        {% endif %}
                >
                    Eliminar bloque
                </a>
            </div>
            {% if parentType == 'block' %}
                {% set type = 'tab' %}
            {% else %}
                {% set type = 'block' %}
            {% endif %}
            <div class="pull-right"><a href="{{ path('edit_block', {id: bloque.id, redirect: 'cms_show_page',
                    idRedirect: page.id, type: type}) }}">Editar bloque</a> | </div>
        </div>
        <div class="card-body card-padding">
            <h4>Título: </h4>
            {{ bloque.title }}
            <br>
            {% include 'TrendixCmsBundle:blocks:' ~ bloque.type ~ '.html.twig' with {bloque: bloque} %}
        </div>
    </div>
{% endfor %}
