
<h4>Tipo:</h4>
Llamada a la acción
<h4>Imagen en el lado:</h4>
{% if bloque.galleryLeft %}Izquierdo{% else %}Derecho{% endif %}
<h4>Título: {{ bloque.title }}</h4>
<h4>Tipo de elemento: {{ bloque.ctaType | trans }}</h4>
<h4>Contenido: </h4>
<div class="well">
    {{ bloque.text|raw }}
</div>
<h4>Imagen: </h4>
<div class="well">
    <img src="/uploads/images/cropped/{{ bloque.image }}" style="max-width: 100%; max-height: 200px;">
</div>
<h4>Colores: </h4>
<ul>
    <li>Texto: <span style="color: {{ bloque.color }}">{{ bloque.color }}</span></li>
    <li>Fondo: <span style="color: {{ bloque.backgroundColor }}">{{ bloque.backgroundColor }}</span></li>
</ul>
<h4>Acción: </h4>
<ul>
    <li>Texto: {{ bloque.linkText }}</li>
    <li>Enlace: {{ bloque.link }}</li>
</ul>