<h4>Tipo:</h4>
Bloques de iconos
<h4>Bloques por fila:</h4>
{{ bloque.blocksPerRow }}
<h4>Elementos:</h4>
<div class="row">
    {% set size = 12/bloque.blocksPerRow|round(0, 'ceil') %}
    {% for cb in bloque.iconBlocks %}
        <div class="col-md-{{ size }} clearfix">
            <div style="color: {{ cb.color }}; margin: 10px;
                    padding: 10px;">
                <h4 style="color: {{ cb.color }};">{{ cb.title }}</h4>
                <p>{{ cb.text }}</p>
                <a href="{{ path('edit_icon_block', {id: cb.id,
                    redirect: 'cms_show_page', idRedirect: page.id}) }}"
                   class="btn btn-info">
                    Editar bloque
                </a>
                <a href="#" data-target="{{ path('remove_icon_block', {id: cb.id,
                    redirect: 'cms_show_page', idRedirect: page.id}) }}"
                   class="btn btn-info delete-link">
                    Eliminar bloque
                </a>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{{ path('add_icon_block', {id: bloque.id, redirect: 'cms_show_page', idRedirect: page.id}) }}">Añadir bloque de icono</a>
