
<h4>Tipo:</h4>
Texto con galería
<h4>Galería en el lado:</h4>
{% if bloque.galleryLeft %}Izquierdo{% else %}Derecho{% endif %}
<h4>Contenido: </h4>
<div class="well">
    {{ bloque.text|raw }}
</div>
<h4>Galería: </h4>
<div class="well">
    {% for image in bloque.gallery.gallery %}
        <img src="/uploads/images/gallery/cropped/{{ image }}" style="max-width: 100%; max-height: 200px;">
    {% endfor %}
</div>
