
<h4>Tipo:</h4>
Texto con imagen
<h4>Imagen en el lado:</h4>
{% if bloque.galleryLeft %}Izquierdo{% else %}Derecho{% endif %}
<h4>Contenido: </h4>
<div class="well">
    {{ bloque.text|raw }}
</div>
<h4>Imagen: </h4>
<div class="well">
    <img src="/uploads/images/cropped/{{ image }}" style="max-width: 100%; max-height: 200px;">
</div>
