<h4 class="card-header">Tipo:</h4>
Bloque de pestañas
<h4>Elementos:</h4>
<div class="well">
    {% include 'TrendixCmsBundle:page:blocks.html.twig' with {bloques: bloque.tabs, parentType: 'block', parent: bloque.id} %}
</div>
<a href="{{ path('add_tab_block', {id: bloque.id, redirect: 'cms_show_page', idRedirect: page.id}) }}">Añadir bloque</a>
