<h4>Tipo:</h4>
Bloques de opiniones
<h4>Elementos:</h4>
<div class="row">
    {% for cb in bloque.testimonialBlocks %}
        <div class="col-md-12 clearfix">
            <div style="color: {{ cb.color }}; margin: 10px;
                    padding: 10px;">
                <h4 style="color: {{ cb.color }};">{{ cb.author }} - {{ cb.place }}</h4>
                <p>{{ cb.text }}</p>
                <a href="{{ path('edit_testimonial_block', {id: cb.id,
                    redirect: 'cms_show_page', idRedirect: page.id}) }}"
                   class="btn btn-info">
                    Editar bloque
                </a>
                <a href="#" data-target="{{ path('remove_testimonial_block', {id: cb.id,
                    redirect: 'cms_show_page', idRedirect: page.id}) }}"
                   class="btn btn-info delete-link">
                    Eliminar bloque
                </a>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{{ path('add_testimonial_block', {id: bloque.id, redirect: 'cms_show_page', idRedirect: page.id}) }}">Añadir opinión</a>
