{% if redirectRoute is not defined %}
    {% set redirectRoute = 'cms_show_page' %}
{% endif %}
{% if redirectId is not defined %}
    {% set redirectId = page.id %}
{% endif %}

{% for block in blocks %}
    <div class="card">
        <div class="card-header">
            <div class="pull-left"><h2 class="card-title">Bloque nº {{ loop.index }}: {{ block }}</h2></div>
            <div class="pull-right">
                <a href="#" class="delete-link"
                        {% if parentType != 'block' %}
                            data-target="{{ path('remove_block', {id: block.id, redirect: redirectRoute,
                                idRedirect: redirectId, idParent: page.id}) }}"
                        {% else %}
                            data-target="{{ path('remove_tab', {id: block.id, redirect: redirectRoute,
                                idRedirect: redirectId, idParent: parent}) }}"
                        {% endif %}
                >
                    Eliminar bloque
                </a>
            </div>
            {% if parentType == 'block' %}
                {% set type = 'tab' %}
            {% else %}
                {% set type = 'block' %}
            {% endif %}
            <div class="pull-right"><a href="{{ path('edit_block', {id: block.id, redirect: redirectRoute,
                    idRedirect: redirectId, type: type}) }}">Editar bloque</a> | </div>
        </div>
        <div class="card-body card-padding">
            <h4 class="card-title">Título: {{ block.title }}</h4>
            {% if block.type == 'text' %}
                <h4 class="card-title">Tipo:</h4> Texto
                <h4 class="card-title">Contenido: </h4>
                <div class="well">
                    {{ block.text|raw }}
                </div>
            {% elseif block.type == 'custom' %}
                <h4 class="card-title">Tipo:</h4> Especial
                <h4 class="card-title">Subtipo: {{ block.customType|trans }}</h4>
            {% elseif block.type == 't_gallery' %}
                <h4>Tipo:</h4>
                Texto con galería
                <h4 class="card-title">Galería en el lado:</h4>
                {% if block.galleryLeft %}Izquierdo{% else %}Derecho{% endif %}
                <h4 class="card-title">Contenido: </h4>
                <div class="well">
                    {{ block.text|raw }}
                </div>
                <h4 class="card-title">Galería: </h4>
                <div class="well">
                    {% for image in block.gallery.gallery %}
                        <img src="/uploads/images/gallery/cropped/{{ image }}" style="max-width: 100%; max-height: 200px;">
                    {% endfor %}
                </div>
            {% elseif block.type == 't_image' %}
                <h4>Tipo: Texto con imagen</h4>
                <h4 class="card-title">Imagen en el lado:</h4>
                {% if block.galleryLeft %}Izquierdo{% else %}Derecho{% endif %}
                <h4 class="card-title">Contenido: </h4>
                <div class="well">
                    {{ block.text|raw }}
                </div>
                <h4 class="card-title">Imagen: </h4>
                <div class="well">
                    <img src="{{ block.image }}" style="max-width: 100%; max-height: 200px;">
                </div>
            {% elseif block.type == 'cta' %}
                <h4>Tipo: Llamada a la acción</h4>
                <h4 class="card-title">Tipo de llamada: {{ block.ctaType }}</h4>
                <h4 class="card-title">Contenido: </h4>
                <div class="well">
                    {{ block.text|raw }}
                </div>
                <h4 class="card-title">Imagen: </h4>
                <div class="well">
                    <img src="{{ block.image }}" style="max-width: 100%; max-height: 200px;">
                </div>
                <h4 class="card-title">Colores: </h4>
                <ul>
                    <li>Fondo: {{ block.backgroundColor }}</li>
                    <li>Texto: {{ block.color }}</li>
                </ul>
                <h4 class="card-title">Acción: </h4>
                <ul>
                    <li>Enlace: {{ block.link }}</li>
                    <li>Texto: {{ block.linkText }}</li>
                </ul>
            {% elseif block.type == 'colors' %}
                <h4 class="card-title">Tipo:</h4>
                Bloques de colores
                <h4 class="card-title">Bloques por fila:</h4>
                {{ block.blocksPerRow }}
                <h4 class="card-title">Elementos:</h4>
                <div class="row">
                    {% set size = 12/block.blocksPerRow|round(0, 'ceil') %}
                    {% for cb in block.colorBlocks %}
                        <div class="col-md-{{ size }} clearfix">
                            <div style="color: #{{ cb.color }}; background-color: #{{ cb.background }}; margin: 10px;
                                    padding: 10px;">
                                <h4 style="color: #{{ cb.color }};">{{ cb.title }}</h4>
                                <p>{{ cb.text }}</p>
                                <a href="{{ path('edit_color_block', {id: cb.id,
                                    redirect: redirectRoute, idRedirect: redirectId}) }}"
                                   class="btn btn-info">
                                    Editar bloque
                                </a>
                                <a href="#" data-target="{{ path('remove_color_block', {id: cb.id,
                                    redirect: redirectRoute, idRedirect: redirectId}) }}"
                                   class="btn btn-info delete-link">
                                    Eliminar bloque
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path('add_color_block', {id: block.id, redirect: redirectRoute, idRedirect: redirectId}) }}">Añadir block de color</a>

            {% elseif block.type == 'icons' %}
                <h4 class="card-title">Tipo: Bloques de iconos</h4>
                <h4 class="card-title">Bloques por fila: {{ block.blocksPerRow }}</h4>
                <h4 class="card-title">Bloques con enlaces:
                    {% if block.withLinks %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </h4>
                <h4 class="card-title">Elementos:</h4>
                <div class="row">
                    {% set size = 12/block.blocksPerRow|round(0, 'ceil') %}
                    {% for cb in block.iconBlocks %}
                        <div class="col-md-{{ size }} clearfix">
                            <div style="color: {{ cb.color }}; margin: 10px;
                                    padding: 10px;">
                                <h4 style="color: {{ cb.color }};">{{ cb.title }}</h4>
                                <p>{{ cb.text }}</p>
                                <p>Icon: <img src="{{ cb.icon }}" width="20"/></p>
                                <a href="{{ path('edit_icon_block', {id: cb.id,
                                    redirect: redirectRoute, idRedirect: redirectId}) }}"
                                   class="btn btn-info">
                                    Editar bloque
                                </a>
                                <a href="#" data-target="{{ path('remove_icon_block', {id: cb.id,
                                    redirect: redirectRoute, idRedirect: redirectId}) }}"
                                   class="btn btn-info delete-link">
                                    Eliminar bloque
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path('add_icon_block', {id: block.id, redirect: redirectRoute, idRedirect: redirectId}) }}">Añadir bloque de icono</a>
            {% elseif block.type == 'testimonials' %}
                <h4>Tipo: Bloques de opiniones</h4>
                <h4>Elementos:</h4>
                <div class="row">
                    {% for cb in block.testimonialBlocks %}
                        <div class="col-md-12 clearfix">
                            <div class="well">
                                <div style="color: {{ cb.color }}; margin: 10px;
                                        padding: 10px;">
                                    <h4 style="color: {{ cb.color }};">{{ cb.author }} - {{ cb.place }}</h4>
                                    <p>{{ cb.text }}</p>
                                    <a href="{{ path('edit_testimonial_block', {id: cb.id,
                                        redirect: redirectRoute, idRedirect: redirectId}) }}"
                                       class="btn btn-info">
                                        Editar bloque
                                    </a>
                                    <a href="#" data-target="{{ path('remove_testimonial_block', {id: cb.id,
                                        redirect: redirectRoute, idRedirect: redirectId}) }}"
                                       class="btn btn-info delete-link">
                                        Eliminar bloque
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path('add_testimonial_block', {id: block.id, redirect: redirectRoute, idRedirect: redirectId}) }}">Añadir opinión</a>
            {% elseif block.type == 'checklist' %}
                <h4>Tipo: Lista de checks</h4>
                <h4>Elementos:</h4>
                <div class="row">
                    {% for cb in block.checkBlocks %}
                        <div class="col-md-12 clearfix">
                            <div class="well">
                                <div style="margin: 10px; padding: 10px;">
                                    <p>{{ cb.text }}</p>
                                    <a href="{{ path('edit_check_block', {id: cb.id,
                                        redirect: redirectRoute, idRedirect: redirectId}) }}"
                                       class="btn btn-info">
                                        Editar texto
                                    </a>
                                    <a href="#" data-target="{{ path('remove_check_block', {id: cb.id,
                                        redirect: redirectRoute, idRedirect: redirectId}) }}"
                                       class="btn btn-info delete-link">
                                        Eliminar elemento
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path('add_check_block', {id: block.id, redirect: redirectRoute, idRedirect: redirectId}) }}">Añadir elemento</a>
            {% elseif block.type == 'tabs' %}
                <h4 style="font-size: 1.2em;">Tipo:</h4>
                Bloque de pestañas
                <h4 style="font-size: 1.2em;">Elementos:</h4>
                <div class="well">
                    {% include 'TrendixCmsBundle:page:blocks.html.twig' with {blocks: block.tabs, parentType: 'block', parent: block.id} %}
                </div>
                <a href="{{ path('add_tab_block', {id: block.id, redirect: redirectRoute, idRedirect: redirectId}) }}">Añadir bloque</a>
            {% endif %}
        </div>
    </div>
{% endfor %}