{% extends "TrendixAdminBundle::layout.html.twig" %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% block content %}
    <div class="container">
        <div class="content__title">
            <h1>
                {% if not new %}
                    Editar página {{ page }}
                {% else %}
                    Nueva página
                {% endif %}
            </h1>
        </div>
        <div class="card">
            <div class="card-body card-padding">
                <h2 class="card-title">Datos de la página</h2>
                {{ form_start(form) }}
                {{ form_end(form) }}
                {% if new %}
                    <p style="color: red">Una vez creada la página, el contenido se puede añadir desde la opción para ver la propia página.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block actionButtons %}
    {{ buttons.actionButton('javascript:$("form").submit()', 'floppy', 'green', 'Guardar')  }}
{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    {% include 'TrendixCmsBundle:forms:dynamic.html.twig' %}
{% endblock %}
#}