{% extends "TrendixAdminBundle::layout.html.twig" %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% block content %}
    {% include 'TrendixCmsBundle::delete_modal.html.twig' %}
    <div class="container">
        <div class="content__title">
            <h1>
                Página {{ page.title }}
            </h1>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="pull-left"><h2 class="card-title">Datos de la página {{ page.nombre }}</h2></div>
                <div class="pull-right">
                    <a href="{{ path('cms_edit_page', { 'id': page.id }) }}">Editar</a>
                </div>
            </div>
            <div class="card-body card-padding">
                <ul>
                    <li>ID: {{ page.id }}</li>
                    <li>Título: {{ page.nombre }}</li>
                    <li>Slug: {{ page.slug }}</li>
                </ul>
            </div>
        </div>
        <div class="content__title">
            <h1>
                Contenido de la página {{ page.title }}
            </h1>
        </div>
        {% include 'TrendixCmsBundle:page:blocks.html.twig' with {blocks: page.blocks, parentType: 'page', parent: page.id} %}
    </div>
{% endblock %}

{% block actionButtons %}
    {{ buttons.actionButton(path('add_block_page', {id: page.id,
        redirect: 'cms_show_page', idRedirect: page.id}), 'plus', 'green', 'Añadir Bloque')  }}
{% endblock %}