{% extends "TrendixAdminBundle::layout.html.twig" %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% block content %}
    <div class="container">
        <div class="content__title">
            <h1>
                {% if edit is defined and edit %}
                    Editar categoría {{ category }}
                {% else %}
                    Nueva categoría
                {% endif %}
            </h1>
        </div>
        <div class="card">
            <div class="card-body card-padding">
                <h2 class="card-title">Datos de la categoría</h2>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}

{% block actionButtons %}
    {{ buttons.actionButton('javascript:$("form").submit();', 'floppy', 'green')  }}
{% endblock %}