{% extends "TrendixAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="content__title">
            <h1>
                Categoría {{ category.title }}
            </h1>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="pull-left"><h2 class="card-title">Datos de la categoría {{ category.nombre }}</h2></div>
                <div class="pull-right">
                    <a href="{{ path('cms_edit_category', { 'id': category.id }) }}">Editar</a>
                </div>
            </div>
            <div class="card-body card-padding">
                <ul>
                    <li>ID: {{ category.id }}</li>
                    <li>Título: {{ category.title }}</li>
                    <li>Slug: {{ category.slug }}</li>
                    <li>Descripción: {{ category.description }}</li>
                </ul>
                <a href="{{ path('cms_category_pages', {id: category.id}) }}">Ver páginas</a>
            </div>
        </div>
    </div>
{% endblock %}
