{% use "TrendixAdminBundle:forms:forms.html.twig" %}

{% block trendix_cms_page_widget %}
    {% spaceless %}

        <div class="col-xs-12 hidden">
            {{ form_row(form.title) }}
        </div>
        <div class="col-xs-12 clearfix">
            {{ form_label(form.blocks) }}
            <div class="well">
                <ul class="list-unstyled dynamic-form prototypeForm" data-prototype="{{ form_widget(form.blocks.vars.prototype)|e }}">
                </ul>
            </div>
        </div>
    {% endspaceless %}

{% endblock %}

{% block trendix_cms_block_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.title) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(form.position) }}
            </div>
            <div class="col-xs-12">
                {{ form_row(form.type) }}
            </div>
            <div class="col-xs-12 condition hidden" data-condition="text t_gallery cta">
                {{ form_row(form.text) }}
            </div>
            <div class="col-xs-12 condition hidden" data-condition="t_gallery">
                {{ form_row(form.gallery) }}
            </div>
            <div class="col-xs-12 condition hidden" data-condition="t_image cta">
                {{ form_row(form.image) }}
            </div>
            <div class="col-xs-12 condition hidden" data-condition="t_image">
                {{ form_row(form.galleryLeft) }}
            </div>
            <div class="col-xs-12 condition hidden" data-condition="colors icons">
                {{ form_row(form.blocksPerRow) }}
            </div>
            <div class="col-xs-12 condition hidden" data-condition="icons">
                {{ form_row(form.withLinks) }}
            </div>
            <div class="col-xs-12 condition hidden" data-condition="cta">
                {{ form_row(form.ctaType) }}
                {{ form_row(form.color) }}
                {{ form_row(form.backgroundColor) }}
                {{ form_row(form.link) }}
                {{ form_row(form.linkText) }}
            </div>
            <div class="col-xs-12 condition hidden" data-condition="tabs colors icons testimonials checklist">
                Tendrás que guardar la página para poder introducir bloques.
            </div>
        </div>
    {% endspaceless %}

{% endblock %}