<script type="text/javascript">
    var $collectionHolder;

    // setup an "add a field" link
    var $addDynamicFieldLink = $('<a href="#" class="add_dyn_field">Añadir otro</a>');
    var $newLinkLi = $('<li></li>').append($addDynamicFieldLink);

    function addDynamicFieldForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a field" link li
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);

        /*var completeForm = $('ul.categories');
         var newCompleteForm = completeForm.data('prototype').replace(/__name__/g, index);
         newCompleteForm.data('index', index + 1);*/

        // add a delete link to the new form
        addDynamicFieldFormDeleteLink($newFormLi);
        // Reinstall jscolor and HTML editor
        window.jscolor.installByClassName('jscolor');
        $('.html-editor').summernote({
            height: 150
        });
    }

    function addDynamicFieldFormDeleteLink($fieldFormLi) {
        var $removeFormA = $('<a href="#" class="removeLink">Eliminar</a><hr>');
        $fieldFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the field form
            $fieldFormLi.remove();
        });
    }


    function hideFields() {
        var sel = $(this);
        var option = sel.find(":selected").val();
        var parent = sel.parent().parent().parent();
        parent.find('.condition').addClass('hidden');
        parent.find('.condition[data-condition*="' + option + '"]').removeClass('hidden');
    }

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of categories
        $collectionHolder = $('ul.dynamic-form');

        // add a delete link to all of the existing field form li elements
        /*
        $collectionHolder.find('li').each(function() {
            addDynamicFieldFormDeleteLink($(this));
        });*/

        // add the "add a field" anchor and li to the categories ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addDynamicFieldLink.unbind('click').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new field form (see next code block)
            addDynamicFieldForm($collectionHolder, $newLinkLi);
        });

        $('.blocktype').each(hideFields).change(hideFields);
    });
    $(document).on('ready load change', '.blocktype', hideFields);
</script>